.footer {
    position:absolute;
    bottom:0;
    width:100%;
    background: #98cbe8;
}

.text-area{
    height: 100px !important;
}

.btn{
    margin-top: 10px;
}

body{
    background-color: #cbf0ff;
}

/*p {
    text-decoration: line-through;
}*/

.div_teste{
    position:absolute;
    z-index:100;
    right:0%;
}